body{
    background: url(prj2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading{
    text-align: center;
    color: rgb(222, 228, 235);
    font-size: 2rem;
    margin: 10px;
   
}


.heading h1{
    border-left: 10px solid red;
    background-color: rgba(199, 187, 187, 0.068);
    padding: 1.5rem;
    font-family: serif;
}


.icon_list{
    text-align: center;
    list-style-type: none;
    padding: 20px;
    
}

.icon_list ul{
    list-style-type:none;
}

.icon_list ul li{
    margin: 0px 30px;
    float: left;
}

.icon_list ul li i{
    margin: 10px;
    
}

.calculator{
    color: rgb(44, 173, 173);
    font-size: 3rem;
}

.stop_watch{
    color: rgb(141, 199, 141);
    font-size: 3rem;
}

.digital_clock{
    color: rgb(75, 131, 75);
    font-size: 3rem;
}

.color_switch{
    color: rgb(168, 40, 100);
    font-size: 3rem;
}

.todo{
    color: rgb(179, 138, 26);
    font-size: 3rem;
}

.temp_converter{
    color: rgb(176, 19, 45);
    font-size: 3rem;
}

.word_counter{
    color: rgb(123, 52, 204);
    font-size: 3rem;
}

.user_validation{
    color: rgb(4, 85, 74);
    font-size: 3rem;
}

.icon_list ul a{
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

